#### Bitstamp

* Pulling code and data from 'crypto_arbitrage.ipyn'-

In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [2]:
bitstamp = pd.read_csv(
    Path("./Resources/bitstamp.csv"),
    index_col="Timestamp", 
    parse_dates=True,
    infer_datetime_format=True)

In [3]:
coinbase = pd.read_csv(
    Path("./Resources/coinbase.csv"),
    index_col="Timestamp",
    parse_dates=True,
    infer_datetime_format=True)

In [4]:
# Use loc or iloc to select `Timestamp (the index)` and `Close` from bitstamp DataFrame
bitstamp_sliced = bitstamp.loc[:, ['Close']]

# Review the first five rows of the DataFrame
bitstamp_sliced.head()

                         Close
Timestamp
2018-01-01 00:00:00  $13646.48
2018-01-01 00:01:00  $13658.75
2018-01-01 00:02:00  $13610.22
2018-01-01 00:03:00  $13639.09
2018-01-01 00:04:00   $13620.0

In [5]:
# Use loc or iloc to select `Timestamp (the index)` and `Close` from coinbase DataFrame
coinbase_sliced = coinbase.loc[:, ['Close']]

# Review the first five rows of the DataFrame
coinbase_sliced.head()

                         Close
Timestamp
2018-01-01 00:00:00  $13608.49
2018-01-01 00:01:00  $13601.66
2018-01-01 00:02:00   $13580.0
2018-01-01 00:03:00  $13550.34
2018-01-01 00:04:00  $13583.44

In [6]:
# Use the str.replace function to remove the dollar sign, $. 
#Also using the `.loc` function to Individually pull from the "Close" column. 
bitstamp.loc[:, "Close"] = bitstamp.loc[:, "Close"].str.replace("$","")
bitstamp.head()

/Users/rodvilla/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13681.04,13681.04,13637.93,13646.48,3.334553,45482.128785,13639.647479
2018-01-01 00:01:00,13646.48,13658.75,13610.18,13658.75,2.663188,36361.390888,13653.332816
2018-01-01 00:02:00,13616.93,13616.93,13610.06,13610.22,0.084653,1152.144036,13610.136247
2018-01-01 00:03:00,13610.27,13639.09,13610.27,13639.09,7.182986,97856.416478,13623.361128
2018-01-01 00:04:00,13635.35,13636.35,13620.00,13620.0,1.069665,14582.660932,13632.923329

In [7]:
# Convert the Close data type to a float
# Using the .loc function to pull from the "Close" column and change it from an 'object to a 'float' with the `astype` function. 
bitstamp.loc[:, "Close"] = bitstamp.loc[:, "Close"].astype("float")
bitstamp.dtypes # confirming object changed to float.

Open              float64
High              float64
Low               float64
Close             float64
BTC Volume        float64
USD Volume        float64
Weighted Price    float64
dtype: object

In [8]:
# Use loc or iloc to select `Timestamp (the index)` and `Close` from bitstamp DataFrame
bitstamp_sliced = bitstamp.loc[:, ['Close']]

# Review the first five rows of the DataFrame
bitstamp_sliced.head()

                        Close
Timestamp
2018-01-01 00:00:00  13646.48
2018-01-01 00:01:00  13658.75
2018-01-01 00:02:00  13610.22
2018-01-01 00:03:00  13639.09
2018-01-01 00:04:00  13620.00

#### Coinbase

* Pulling code and data from 'crypto_arbitrage.ipyn'-

In [9]:
# Use the str.replace function to remove the dollar sign, $. 
#Also using the `.loc` function to Individually pull from the "Close" column. 
coinbase.loc[:, "Close"] = coinbase.loc[:, "Close"].str.replace("$","")
coinbase.head()

/Users/rodvilla/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13620.00,13620.00,13608.49,13608.49,20.812754,283451.08537,13619.105106
2018-01-01 00:01:00,13607.14,13607.14,13601.66,13601.66,13.474359,183283.97801,13602.426919
2018-01-01 00:02:00,13601.44,13601.44,13580.00,13580.0,11.536360,156789.19686,13590.872506
2018-01-01 00:03:00,13587.31,13587.31,13542.70,13550.34,16.328039,221413.64182,13560.332806
2018-01-01 00:04:00,13550.34,13585.95,13550.34,13583.44,9.955364,135141.26944,13574.719401

In [10]:
# Convert the Close data type to a float
# Using the .loc function to pull from the "Close" column and change it from an 'object to a 'float' with the `astype` function. 
coinbase.loc[:, "Close"] = coinbase.loc[:, "Close"].astype("float")
coinbase.dtypes # confirming object changed to float.

Open              float64
High              float64
Low               float64
Close             float64
BTC Volume        float64
USD Volume        float64
Weighted Price    float64
dtype: object

In [11]:
# Use loc or iloc to select `Timestamp (the index)` and `Close` from coinbase DataFrame
coinbase_sliced = coinbase.loc[:, ['Close']]

# Review the first five rows of the DataFrame
coinbase_sliced.head()

                        Close
Timestamp
2018-01-01 00:00:00  13608.49
2018-01-01 00:01:00  13601.66
2018-01-01 00:02:00  13580.00
2018-01-01 00:03:00  13550.34
2018-01-01 00:04:00  13583.44

# Analysis Report

## Assumptions and Discoveries:

* From my analysis, I discovered that there were missing values in the bitstamp DataFrame. I handled these missing values by replacing them with `"Unknown"` values.
* I also discovered that the 'Close' column of both bitstamp and coinbase DataFrames contained dollar signs($), which I removed using the `str.replace()` function.
* Furthermore, I discovered that the data type of the 'Close' column was in "object" type, and converted it to a float using the `astype()` function.
* I also found that the data did not contain any duplicated values by using the `.duplicated()` function. 
##### Note: While checking for duplicated values in a dataset is a good practice, it may not be beneficial for a time-series analysis or for determining asset pricing.

## Summary Tables and Calculations:

* To evaluate arbitrage profitability, I selected three dates: one early in the dataset, one from the middle of the dataset, and one from the later part of the dataset.
* For the early date, I calculated the arbitrage spread by subtracting the bitstamp closing prices from the coinbase closing prices. The summary statistics for the early date are as follows:

In [13]:
# Generating summary statistics from the early DataFrame.
arbitrage_spread_early = coinbase_sliced['Close'].loc['2018-01-10'] - bitstamp_sliced['Close'].loc['2018-01-10']
summary_table = pd.DataFrame(arbitrage_spread_early.describe())
display(summary_table)

             Close
count  1440.000000
mean     15.978826
std      45.869721
min     -78.810000
25%     -17.787500
50%       6.880000
75%      46.530000
max     192.000000

* For the later date, I calculated the arbitrage spread by subtracting the bitstamp closing prices from the coinbase closing prices. 
##### Here is a code snip of the summary statistics for the later:

##### `arbitrage_spread_late = coinbase_sliced['Close'].loc['2018-03-10'] - bitstamp_sliced['Close'].loc['2018-03-10']`
##### `arbitrage_spread_late.describe()`

## Visualizations:

* I created overlay plots that visualized the dataframes over a period of time for the dates selected. These plots included the parameters `legend`, `figsize`, `title`, `color` and `label`
* I also visualized the arbitrage spread from dates selected into box plots.

## Conclusion:

In conclusion, this analysis of historical bitcoin trading data from Bitstamp and Coinbase revealed several key findings. I found that the two exchanges had similar overall trends in pricing, but there were instances of significant differences in closing prices between the two exchanges, particularly during periods of volatility. I also identified several opportunities for arbitrage profits, with the largest potential profits being found early in the dataset and during times when the spread between the exchanges was the greatest. Overall, these findings suggest that there may be opportunities for traders to profit from arbitrage opportunities between the two exchanges, particularly during periods of volatility.